<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoFinalParte1YanMendonca</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>InitAction</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InitAction</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.InitAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitAction</servlet-name>
    <url-pattern>/InitAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerInstrutorAction</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ControllerInstrutorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerInstrutorAction</servlet-name>
    <url-pattern>/ControllerAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>instrutorCadastra</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.CadastrarInstrutorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrutorCadastra</servlet-name>
    <url-pattern>/cadastrarInstrutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>instrutorListar</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ListarInstrutoresAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrutorListar</servlet-name>
    <url-pattern>/listarInstrutores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>instrutorPesquisa</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.PesquisaInstrutorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrutorPesquisa</servlet-name>
    <url-pattern>/pesquisaInstrutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>instrutorExcluir</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ExcluirInstrutorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrutorExcluir</servlet-name>
    <url-pattern>/excluirInstrutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>instrutorUpdate</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.UpdateInstrutorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrutorUpdate</servlet-name>
    <url-pattern>/updateInstrutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControllerAlunoAction</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ControllerAlunoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerAlunoAction</servlet-name>
    <url-pattern>/ControllerAlunoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alunoCadastra</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.CadastrarAlunoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alunoCadastra</servlet-name>
    <url-pattern>/cadastrarAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alunoListar</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ListarAlunosAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alunoListar</servlet-name>
    <url-pattern>/listarAlunos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alunoPesquisa</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.PesquisaAlunoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alunoPesquisa</servlet-name>
    <url-pattern>/pesquisaAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alunoExcluir</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.ExcluirAlunoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alunoExcluir</servlet-name>
    <url-pattern>/excluirAluno</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>alunoUpdate</servlet-name>
    <servlet-class>br.ucb.lab3.servlet.UpdateAlunoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alunoUpdate</servlet-name>
    <url-pattern>/updateAluno</url-pattern>
  </servlet-mapping>
</web-app>